%a.user-article-tile{href: user_article_path(user_article.article_id)}
  %div
    = image_tag(user_article.picture_url, class: 'user-article-image')
  %div
    %div.main-headline= user_article.headline
    %div.info= "#{user_article.raw_content_preview}..."