%a.user-article-tile{href: '#'}
  %div
    = image_tag(user_article.picture_url, class: 'user-article-image')
  %div
    %div.main-headline= user_article.headline
    %div.info= "#{rich_text_as_string(user_article.content[0..250])}..."