// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#img-placeholder {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-basis: 100%;
}


.no-file {
  border: 1px solid #D4D9E2;
}

.file-dragged {
  border: 2px solid #D72130;
}

#img-placeholder > * {
  margin: 7px 0px;
}

.article-placeholder-text {
  color: #232323;
  cursor: pointer;
}

#img-preview-section {
  position: relative;
  height: 500px;
  width: 50%;
}

#img-preview {
  position: absolute;
  height: 100%;
  width: 100%;

  background-size:100% 100%;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

#img-preview-toolbar {
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#img-preview-toolbar > * {
  margin: 5px 20px;
}

.choose-article-nav-container {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%
}

.choose-article-nav-container > *{
  flex-basis: 33%;
}

.choose-article-nav-container select,input{
  width: 100%;
}

.choose-article-nav-container > :nth-child(even) {
  margin: 5px 20%;
}

.create-article-pre-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 7%;
}

.create-article-pre-header > div * {
  margin: 0 15px;
}

.create-article-pre-header .btn-primary {
  width: 69px;
  display: inline-block;
  text-align: center;
}