.btn-primary {
  background-color: #D72130;
  font-family: "Open Sans", serif;
  //display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px 23px;
  cursor: pointer;
}

.btn-primary:hover {
  outline: 1px solid #000000;
}

.btn-link {
  color: #D72130;
  font-family: "Open Sans", serif;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
}

.btn-secondary {
  color: #D72130;
  margin-right: 5px;
  font-weight: bolder;
  border: 1px solid #D72130;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
  font-style: normal;
  font-size: 0.80rem;
  text-align: center;
  padding: 7px 15px;
  cursor: pointer;
}