@font-face {
  //font-family: "Roboto";
  //src: local(roboto), url(fonts/Roboto-Medium.ttf)
}
input {
  border: 1px solid #D4D9E2;
  box-sizing: border-box;
  width: 30%;
  font-size: 1.2rem;
}
label {
  font-size: 1rem;
  font-family: "Roboto", "Open Sans", serif;
  color: #7F8899;
  margin-bottom: 2px;
}