.logo {
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
}
.logo>:first-child {
  text-decoration: line-through;
}
.logo>:nth-child(2) {
  background-color: #ff7500;
  border-radius: 3px;
  padding: 3px;
}

.header_upper_nav {
  display: flex;
  justify-content: space-between;
}

.header_upper_nav > *{
  margin: 5px;
}

.auth_icons > * {
  margin-right: 20px;
  vertical-align: middle;
}

.admin_nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.admin_nav > * {
  margin: 10px 5px;
}

header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 5px 5px;
  box-shadow: 0px 0px 37px rgba(0, 0, 0 , 15%);
  z-index: 999;
}