body {
  background-color: #fff;
  color: #333;
  margin: 0 auto;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1 {
  margin-top: 0;
}

a {
  color: #D72130;
  text-decoration: none;
}

.highlight {
  color: #D72130;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#alert {
  border: 3px solid #ff7d7f;
  background-color: #ffecf3;
  border-radius: 6px;
  padding: 7px 10px;
}
#notice {
  border: 3px solid #0f9d0f;
  background-color: #d7fadd;
  border-radius: 6px;
  padding: 7px 10px;
}

.field_with_errors {
  input {
    border: #B00100 2px solid;
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.bold {
  font-weight: bold;
}