!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SportWebapp
    = render partial: 'partials/app_defaults'
  %body
    = render partial: "partials/header"
    = yield